@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Sanpham>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <div class="text-center">
                        <img class="img-fluid w-50" src="@Url.Content("~/img/AnhGiay/" + item.AnhBia)" alt="">
                    </div>
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="@Url.Action("ChiTietGiay", "Home", new { maSp = item.MaGiay })"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="@Url.Action("ChiTietGiay", "Home", new { maSp = item.MaGiay })">@item.TenGiay</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>@item.GiaBan</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>@item.SoLuongTon</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="pagination-container text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    UlElementClasses = new[] { "pagination", "justify-content-center" },
    ActiveLiElementClass = "active",
    PreviousElementClass = "page-item",
    NextElementClass = "page-item"
})
</div>
