@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model web1.Models.NhanVien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div style="margin: 10px">
    <h3>Bạn có chắc chắn muốn xóa nhân viên không ?</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content("~/img/" + Model.EmpFileName)" height="200px" width="200px">
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CusID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </form>
</div>
